
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <div class="container-fluid">
      <a class="navbar-brand" href="/<%=currentUser._id%>">ReachMe</a>
      <div class="nav-link dropdown dropleft">
        <button userId="<%=currentUser._id%>" onclick="notif(event)" class="btn btn-sm btn-secondary bg-white text-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAAsklEQVRIie2TMQ6CQBBFnzaYeATt4DB4AI4h8Tq23kVjYoO1VngG7QwUjpFsQHZGNyHRn/xqd9+bJSz8UhLgLE18D40VggyIpZlqtJ5EQM5j8kp6Apay9lHmwLEBdlsAMys86oE3JaabrDzgz+YWwUEh2FsEN4Xg2gUZvRFUyoFaWZp3YMpfMEzBBFgbWBtg6rNxh///73brwtpucFfP/p2z4XPh9SnKEIKFgEsgDSEYZmqDQFU09ljjZAAAAABJRU5ErkJggg=="/><sup id="sup" class="bg-danger text-light" style="font-size:larger"><b><%if(currentUser.newnoti>0){%><%=currentUser.newnoti%><%}%></b></sup>
        </button>
        <div class="dropdown-menu bg-dark text-light"aria-labelledby="dropdownMenuButton">
          <%if(currentUser.notification.length===0){%>
            <div>No Notifications!</div>
            <% } else{%> 
          <%for(let notif of currentUser.notification){%>
          <div><%=notif%></div>
          <hr>
          <% } %> 
          <% } %> 
        </div>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">
          <div class="navbar-nav">
              <form action="/search" method="post" class="form-inline my-2 my-lg-0 d-flex">
                <input class="form-control mr-sm-2" name="username" type="search" placeholder="Search Username" aria-label="Search" required>
                <button class="btn btn-light btn-outline-success my-2 my-sm-0" type="submit"><img src="https://img.icons8.com/material-rounded/24/000000/search.png"/></button>
              </form>
          </div>
          <div class="navbar-nav">
            <a href="/<%=currentUser._id%>/profile" class="nav-link"><img class=" rounded-circle"src="<%=currentUser.profilePic%>" style="width: 24px;height:24px;object-fit:cover;"alt=""></a>
               <a href="/<%=currentUser._id%>/profile" class="nav-link inline"><%=currentUser.username%></a>
              <a href="/logout" class="nav-link">Logout</a>
          </div>
      </div>
  </div>
</nav>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
  const notif=function(event){
    const userId=event.target.getAttribute("userId");
    console.log(`teri ma ki chut ${userId}`)
    const sup=document.querySelector('#sup');
    sup.textContent="";
    axios.patch(`/${userId}/noti`);
  }
</script>